* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.logo {
  &__link {
    text-decoration: none;
    color: $header-color;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.2;
  }
}
