$primary1: #0077c3;
$primary2: #026aa7;
$header-color: #fff;
$header-btn-color: #4e97c2;
$header-btn-hover-color: #1f87c4;

$column-width: 250px;
$column-color: #ebecf0;
$column-btn-color: #5e6c84;
$column-btn-hover-color: #cecece;
$column-header-outline-color: #3c5bf4;

$form-btn-add-hover-color: #026ba7;
$form-btn-add-color: #0079bf;
$form-btn-cancel-color: #adadad;
$form-btn-cancel-hover-color: #737373;

$ticket-width: 240px;
$ticket-height: 40px;
$ticket-color: #fff;
$ticket-hover-color: rgb(230, 230, 230);
$ticket-btn-trash-hover: rgb(190, 190, 190);

$placeholder-column-color: rgba(0, 0, 0, 0.3);
$placeholder-ticket-color: rgba(0, 0, 0, 0.1);
