@import"https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";*{margin:0;padding:0;box-sizing:border-box}body{display:flex;flex-direction:column;min-height:100vh;font-family:"Roboto",sans-serif}.logo__link{text-decoration:none;color:#fff;font-size:20px;font-weight:700;letter-spacing:1.2}.header{display:flex;justify-content:space-between;align-items:center;background-color:#026aa7;padding:15px}.header__btn{border:none;border-radius:3px;background-color:#4e97c2;color:#fff;cursor:pointer;font-family:"Roboto",sans-serif;padding:10px;transition:background-color .3s}.header__btn:hover{background-color:#1f87c4}.main{flex-grow:1;padding:50px 20px;background-color:#0077c3}.main .board{display:flex}.main .board .column{align-self:start;background-color:#ebecf0;width:250px;border:1px dotted #ccc;border-radius:5px;margin-right:20px;padding:5px}.main .board .placeholder-column{background-color:rgba(0,0,0,.3);border-radius:5px;width:250px;border:none;margin-right:20px;padding:5px}.main .board-column-header{user-select:none;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;font-size:16px;margin-bottom:10px;padding:10px;font-weight:bold;cursor:move}.main .board-column-header:focus{outline:2px solid #3c5bf4;border-radius:2px}.main .board-item{height:40px;width:240px;background-color:#fff;box-shadow:0px 2px 0px rgba(0,0,0,.2);border-radius:5px;cursor:pointer;margin-bottom:.5em;padding:6px;transition:background-color .3s}.main .board-item-content{display:flex;justify-content:space-between;align-items:center;user-select:none;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none}.main .board-item-content .uil-trash-alt{padding:6px;border-radius:3px;transition:background-color .3s}.main .board-item-content .uil-trash-alt:hover{background-color:#bebebe}.main .board-item:hover{background-color:#e6e6e6}.main .board .placeholder{border-radius:5px;background-color:rgba(0,0,0,.1);margin-bottom:.5em;width:240px;height:40px}.main .board .emptySectionHiddenLesson{box-shadow:none;background:none;border:none;width:240px;height:40px}.main .board-form{display:none}.main .board-form__textarea{font-family:"Roboto",sans-serif;width:100%;border-radius:3px;border:none;padding:7px;height:70px;resize:none;outline:none;margin-bottom:8px}.main .board-form__buttons{display:flex;align-items:center;margin-top:6px}.main .board-form__btn-add{font-family:"Roboto",sans-serif;background-color:#0079bf;border:none;border-radius:3px;padding:8px;color:#fff;cursor:pointer;transition:background-color .3s;margin-right:8px}.main .board-form__btn-add:hover{background-color:#026ba7}.main .board-form__btn-cancel{cursor:pointer}.main .board-form__btn-cancel .uil-times{font-size:30px;color:#adadad;transition:color .3s}.main .board-form__btn-cancel .uil-times:hover{color:#737373}.main .board__btn{font-family:"Roboto",sans-serif;width:100%;background-color:#ebecf0;border:none;border-radius:3px;color:column-btn-color;padding:7px;cursor:pointer;margin-top:10px;transition:background-color .3s}.main .board__btn .uil-plus{margin-right:6px}.main .board__btn:hover{background-color:#cecece}.footer{display:flex;justify-content:center;flex-shrink:0;background-color:#026aa7;padding:20px}/*# sourceMappingURL=main.css.map */main .board-form__btn-cancel .uil-times {
  font-size: 30px;
  color: #adadad;
  transition: color 0.3s;
}
.main .board-form__btn-cancel .uil-times:hover {
  color: #737373;
}
.main .board__btn {
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-color: #ebecf0;
  border: none;
  border-radius: 3px;
  color: column-btn-color;
  padding: 7px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}
.main .board__btn .uil-plus {
  margin-right: 6px;
}
.main .board__btn:hover {
  background-color: #cecece;
}

.footer {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  background-color: #026aa7;
  padding: 20px;
}/*# sourceMappingURL=main.css.map */